body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
}


.button {
    background: linear-gradient(45deg, #c16986, #5162c1);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

#result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

.photo {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 2px solid #fff;
    display: block;  /* Делаем изображение блочным элементом */
    margin: 20px auto; /* Центрируем по горизонтали */
}

